.header {
  background: #070d6e;
  display: flex;
  justify-content: space-between;
  padding-left: 12px;
  padding-right: 12px;
  align-items: center;
  height: 10vh;
  position: fixed;
  width: 98%;
  top: 0px;
  z-index: 2;
}
@media (max-width: 568px) {
  .header {
    display: none;
  }
}
h1 {
  color: white;
  font-family: "Roboto";
  font-size: 35px;
  font-weight: bold;
}
.mid-text {
  display: flex;
  padding-left: 0px;
  list-style-type: none;
  justify-content: space-around;
  color: white;
  font-size: 25px;
  width: 50%;
}
button {
  border-width: 0px;
  font-size: 20px;
  padding: 8px;
  border-radius: 8px;
}
.mobile-view {
  background-color: red;
  margin-top: 0px;
  position: fixed;
  width: 100%;
  z-index: 2;
}
@media (min-width: 568px) {
  .mobile-view {
    display: none;
  }
}
.mobile-btn {
  position: absolute;
  top: 15px;
  right: 5px;
}
.mobile-links {
  background-color: ghostwhite;
  transition: 0.3s;
  position: absolute;
  right: -150px;
  list-style-type: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 25px;
  line-height: 2.5;
  padding-bottom: 50px;
  top: 30px;
}
.mobile-links-view {
  right: 10px;
  cursor: pointer;
}
